@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300&display=swap');
:root {
    --color-1:#1A5F7A;
    --color-2:teal;
    --color-3:#57C5B6;
    --color-4:cyan;
    --color-5:white;
    --color-6:#003E36;
}