@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300&display=swap');
:root {
    --color-1:#1A5F7A;
    --color-2:teal;
    --color-3:#57C5B6;
    --color-4:cyan;
    --color-5:white;
    --color-6:#003E36;
}

@media only screen and (min-device-width: 481px) {
    
    /*Universals selectors*/

    html {
        font-size: 16px;
        background: var(--color-1);
        color: white;
        font-family: 'cormorant garamond';
        text-decoration: none;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0;
    }

    h2 {
        font-size: 1.75rem;
        text-align: center;
        padding: 1rem 0;
    }

    h3 {
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0;
    }

    p {
        text-align: justify;
        padding: 1rem 5rem;
        font-size: 1.5rem;
        line-height: 1.5;
    }

    a:link {
        color: white;
    }

    a:visited {
        color: white;
    }

    li {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        background-color: var(--color-3);
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-1);
    }

    details {
        cursor: pointer;
        font-size: 1.5rem;
    }

    details summary>* {
        display: inline;
    }

    summary {
        font-size: 1.5rem;
        text-align: center;
        background: var(--color-2);
        padding: 0.5 2rem;
        margin: 0.5rem 2rem;
        border-radius: 0.5rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    /*Header */

    header {
        width: 100%;
        position: fixed;
        max-height: fit-content;
        background: var(--color-2);
        border-bottom: .2rem dashed var(--color-3);
    }

    .nav-bar {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .header-logo {
        width: 50%;
    }

    .header-logo__item {
        height: 5rem;
    }



    .nav-bar__ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

    }


    .nav-bar__li__1 {
        animation: go-back 1.25s infinite alternate;
    }

    @keyframes go-back {
        from {
            transform: translateY(0.2rem);
        }

        to {
            transform: translateY(-0.2rem);
        }
    }

    .nav-bar__li__2 {
        animation: go-back 1.5s infinite alternate;
    }

    .nav-bar__li__3 {
        animation: go-back 1.75s infinite alternate;
    }

    .nav-bar__li__4 {
        animation: go-back 2s infinite alternate;
    }

    /*Hero*/

    .hero {
        padding: 15rem 0 0 0;
        height: 27rem;
        background-image: url("../Images/johannes-plenio-DKix6Un55mw-unsplash.jpg");
        background-attachment: fixed;
        background-position: 0 60%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        border-bottom: .2rem dotted var(--color-3);
    }

    .hero__text {
        background: rgba(0, 0, 0, 0.3);
    }

    /* About*/

    #about {
        padding: 1rem 5rem;
        border-bottom: .2rem dotted var(--color-3);
    }

    /*Schedule*/

    #schedule {
        padding: 1rem 0;
        border-bottom: .2rem dotted var(--color-3);
        align-items: center;
    }

    .schedule__month {
        font-size: .8rem;
        margin: 0 2.5rem
    }

    .schedule__month__event {
        font-size: 0.9rem;
        margin: 0 2.5rem;
    }

    .schedule__month__summary {
        font-size: 0.6;
    }

    /* Galleries */

    #gallery {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        border-bottom: .2rem dotted var(--color-3);
    }

    /*Teaching gallery*/

    .gallery__teaching {
        display: grid;
        grid-template-columns: repeat(auto-fill, 47%);
        justify-items: stretch;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem 2rem;
        justify-content: center;
    }



    .gallery__teaching__1 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__2 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__3 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__4 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__5 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__6 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__7 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__8 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__teaching__9 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    /*Panoramic-tours gallery*/

    .gallery__panoramic-tours {
        display: grid;
        grid-template-columns: repeat(auto-fill, 47%);
        justify-items: stretch;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .gallery__panoramic-tours__1 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__2 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__3 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__4 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__5 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__6 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__7 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__8 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__panoramic-tours__9 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    /*Championship gallery*/

    .gallery__championships {
        display: grid;
        grid-template-columns: repeat(auto-fill, 47%);
        justify-items: stretch;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .gallery__championships__1 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__2 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__3 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__4 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__5 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__6 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__7 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__8 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    .gallery__championships__9 {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
    }

    /*Mobile footer*/

    #contact {
        padding: 1rem 0 0 0;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        justify-items: stretch;
        align-items: stretch;
        gap: 1rem;
        padding: 1rem;
    }


    .contact__logo {
        width: 100%;
        grid-area: 2 / 1 / span 2 / span 2;
        height: auto;
        border-radius: 0.5rem;
    }

    .contact__instagram {
        width: 2rem;
        height: auto;
        grid-area: 2 / 6 / span 1 / span 1;
        border-radius: 0.5rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
        padding: 0.25rem 2rem;
        background: var(--color-2);
    }

    .contact__whatsapp {
        width: 2rem;
        height: auto;
        grid-area: 2 / 7 / span 1 / span 1;
        border-radius: 0.5rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
        padding: 0.25rem 2rem;
        background: var(--color-2);
    }

    .contact__email {
        width: 2rem;
        height: auto;
        grid-area: 2 / 8 / span 1 / span 1;
        border-radius: 0.5rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
        padding: 0.25rem 2rem;
        background: var(--color-2);
    }

    .contact__facebook {
        width: 2rem;
        height: auto;
        grid-area: 2 / 9 / span 1 / span 1;
        border-radius: 0.5rem;
        box-shadow: .3rem .3rem .8rem var(--color-6);
        padding: 0.25rem 2rem;
        background: var(--color-2);
    }
    .footer__development {
        text-align: center;
        width: 2rem;
        background-color: black;
        padding: 0.5rem 0;
    }
}


